
.App {
	font-family: Helvetica, Arial;
	display: grid;
	grid-template: auto 1fr auto / auto 1fr auto;
	font-size: calc(10px + 2vmin);
	text-align: center;
	height: 100vh;
}

.App header .alert {
    width: 100%;
	margin: 0;
	border-radius: 0;
	border-color: transparent;
	font-size: calc(15px + 0.6vmin);
}

.App header .alert FontAwesomeIcon {
	display: flex;
	align-items: center;
	height: 100%;
}

.App header .alert .close {
	display: flex;
	align-items: center;
	height: 100%;
}

.App header {
	padding: 0 0 1rem 0;
	grid-column: 1 / 4;
	display: inline;
}

.App .left-side {
	grid-column: 1 / 2;
}

.App main {
	grid-column: 2 / 3;
	display: grid;
    align-items: normal;
    justify-items: center;
	overflow-y: scroll;
}

.App .right-side {
	grid-column: 3 / 4;
}

.App footer {
	grid-column: 1 / 4;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
	filter: invert(72%) sepia(64%) saturate(594%) hue-rotate(142deg) brightness(127%) contrast(93%);
}

/*
 *  Body ScrollBar
 */
.App main::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.App main::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.App main::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
	display: none;
}

/** focus **/
*:focus {
    outline: none;
}

/** overflow **/
body{
	overflow-x:hidden;
}

.loading{
	display: inline;
	padding: 10px;
	vertical-align: middle;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/** layouts **/
.float-left {
	float: left;
}
.float-right {
	float: right;
}

