/* defaults to light theme */
body {
  --text-color: #121212;
  --bkg-color: #EEEEEE;
  --filter: brightness(90%);
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
  --filter: brightness(100%);
}
@media (prefers-color-scheme: dark) {
	/* defaults to dark theme */
	body {
		--text-color: #eee;
		--bkg-color: #121212;
		--filter: brightness(100%);
	}
	body.light-theme {
		--text-color: #121212;
		--bkg-color: #fff;
		--filter: brightness(90%);
	}
}

.App {
	background: var(--bkg-color);
	transition: background 0.50s ease;
}



h1, h2, h3{
	color: var(--text-color);
	transition: color 0.9s ease;
	text-transform:uppercase;
    background-color: transparent;
	font-weight: 600;
}

p, label, .text{
	color: var(--text-color);
	transition: color 0.9s ease;
    background-color: transparent;
	font-weight: 400;
}

a {
	text-transform: uppercase;
	color: var(--btn-color);
	transition: color 0.5s ease;
	font-weight: 600;
	font-size: calc(5px + 1.7vmin);
	text-decoration: none;
}
a:hover {
	color: var(--text-color);
	text-decoration: none;
}